<html class="cool">
    <header>
        <%- include('navigationHeader') -%>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </header>
    <head>
        <h1>Please enter the Item</h1>
        <style>
            .cool{ background-image: linear-gradient(white, blue) !important;}
            table 
            {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            td, th 
            {
                border: 5px solid black;
                text-align: left;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <form method="POST">
            <p>
                <label>
                    Item Name<br>
                    <input type="text" placeholder="grocery_Item" id = "grocery_Item" name="grocery_Item"/>
                </label>
            </p>
            <p>
                <label>
                    Cost<br>
                    <input type="text" placeholder="cost" id = "cost" name="cost"/>
                </label>
            </p>
            <p>
                <label>
                    Expiration Date<br>
                    <input type="text" placeholder="expiration_Date" id = "expiration_Date" name="expiration_Date"/>
                </label>
            </p>
            <button type="submit">Add user</button>
        </form>

        <script>
            $(document).ready(function () {
                $('#display').DataTable();
            });
        </script>

<style>
    html, body
    {
      height: 100%;
      background-image: url("https://ak4.picdn.net/shutterstock/videos/13881104/thumb/1.jpg");

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
    </body>
    <footer>
        <%- include('chat') -%>
    </footer>
</html>