<html class="cool">
    <header>
        <%- include('navigationHeader') -%>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </header>
    <head>
        <h3>Please enter your news article</h3>
        <style>
            .cool{ background-image: linear-gradient(white, blue) !important;}
            table 
            {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            td, th 
            {
                border: 5px solid black;
                text-align: left;
                padding: 20px;
            }
            form {
                text-align: center;
                font-size: 24px;
                }
            h3 {
                text-align: center;
                font-size: 30px;
            }
            .sizing {
                width: 300px;
                height: 48px;
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <form method="POST">
            <p>
                <label>
                    Title<br>
                    <textarea class="sizing" placeholder="Insert Title" id ="news" name="title"></textarea>
                </label>
            </p>
            <p>
                <label>
                    Description<br>
                    <textarea class="sizing" placeholder="Insert Description" id = "news" name="description"></textarea>
                </label>
            </p>
            <p>
                <label>
                    Url<br>
                    <textarea class="sizing" placeholder="Insert URL" id = "news" name="url"></textarea>
                </label>
            </p>
            <p>
                <label>
                    Image Url<br>
                    <textarea class="sizing" placeholder="Insert Image URL" id = "news" name="imageurl" ></textarea>
                </label>
            </p>
            <button type="submit">Add News</button>
        </form>

        <script>
            $(document).ready(function () {
                $('#display').DataTable();
            });
        </script>
        <style>
            html, body
            {
              height: 100%;
              background-image: linear-gradient(yellow, deepskyblue);
              /* Full height */
              height: 120%;
            
              /* Center and scale the image nicely */
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          </style>
    </body>
   <footer>
    <%- include('chat') -%>
</footer>
</html>