<html class="cool">
    <header>
        <%- include('navigationHeader') -%>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </header>
    <head>
        <h1>Please enter your news article</h1>
        <!-- Danielle added style -->
    <style>
        body {
            background-color: white;
            color: black;
            padding: 5px;
            }
        /* Bordered form */
        form {
        border: 2px solid black;
        text-align: center;
        width: 50%;
        margin: 0 auto;

        }

        /* Full-width inputs */
        input[type=text] {
        width: 50%;
        padding: 5px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid black;
        box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
        background-color: #4CAF50;
        color: black;
        padding: 10px 10px;
        /* margin: 8px 0; */
        /* border: none; */
        cursor: pointer;
        width: 15%;
        }
    </style>
        
        <!-- Danielle commented code -->
        <!-- <style>
            .cool{ background-image: linear-gradient(white, blue) !important;}
            table 
            {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            td, th 
            {
                border: 5px solid black;
                text-align: left;
                padding: 20px;
            }
        </style> -->
    </head>
    <body>
        <form method="POST">
            <p>
                <h2>Add News Article</h2>
                <label>
                    Title
                </label>
                <br>
                <input type="text" placeholder="title" id ="news" name="title"/>
            </p>
            <p>
                <label>
                    Description
                </label>
                <br>
                <input type="text" placeholder="description" id = "news" name="description"/>
            </p>
            <p>
                <label>
                    Url
                </label>
                <br>
                <input type="text" placeholder="url" id = "news" name="url"/>
            </p>
            <p>
                <label>
                    Image Url
                </label>
                <br>
                    <input type="text" placeholder="imageurl" id = "news" name="imageurl"/>
            </p>
            <div>
            <button type="submit">Add news</button>
            </div>
            <br>
        </form>

        <script>
            $(document).ready(function () {
                $('#display').DataTable();
            });
        </script>
        <!-- Danielle commented code -->
        <!-- <style>
            html, body
            {
              height: 100%;
              background-image: linear-gradient(yellow, deepskyblue);
              /* Full height */
              height: 120%;
            
              /* Center and scale the image nicely */
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          </style> -->
    </body>
    <%- include('footer') -%>
</html>