<html class="cool">
    <header>
        <%- include('navigationHeader') -%>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </header>
    <head>
        <h1>Please enter your news article</h1>
    <style>
        body {
            background-color: white;
            color: black;
            padding: 5px;
            }
        /* Bordered form */
        form {
        border: 2px solid black;
        text-align: center;
        width: 50%;
        margin: 0 auto;

        }

        /* Full-width inputs */
        input[type=text] {
        width: 50%;
        padding: 5px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid black;
        box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
        background-color: #4CAF50;
        color: black;
        padding: 10px 10px;
        cursor: pointer;
        width: 15%;
        }

        h3 {
                text-align: center;
                font-size: 30px;
            }
        .sizing {
            width: 300px;
            height: 48px;
            font-size: 16px;
            }
    </style>
        
    </head>
    <body>
        <form method="POST">
            <p>
                <h3>Add News Article</h3>
                <label>
                    Title
                </label>
                <br>
                    <textarea required class="sizing" placeholder="Insert Title" id ="news" name="title"></textarea>
            </p>
            <p>
                <label>
                    Description
                </label>
                <br>
                    <textarea required class="sizing" placeholder="Insert Description" id = "news" name="description"></textarea>
            </p>
            <p>
                <label>
                    Url
                </label>
                <br>
                    <input type ="URL" required class="sizing" placeholder="Insert URL" id = "news" name="url"/>
            </p>
            <p>
                <label>
                    Image Url
                </label>
                <br>
                    <textarea required class="sizing" placeholder="Insert Image URL" id = "news" name="imageurl" ></textarea>
            </p>
            <br>

            <button type="submit">Add News</button>
            <br>
        </form>

        <script>
            $(document).ready(function () {
                $('#display').DataTable();
            });
        </script>
        
    </body>
   <footer>
    <%- include('chat') -%>
</footer>
</html>