<html class="cool">
    <head>
        <h1>Please enter the new user</h1>
        <style>
            .cool{ background-image: linear-gradient(white, blue) !important;}
            table 
            {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            td, th 
            {
                border: 5px solid black;
                text-align: left;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <form method="POST">
            <p>
                <label>
                    Title<br>
                    <input type="text" placeholder="title" id ="title" name="title"/>
                </label>
            </p>
            <p>
                <label>
                    Name<br>
                    <input type="text" placeholder="name" id = "name" name="name"/>
                </label>
            </p>
            <p>
                <label>
                    Username<br>
                    <input type="text" placeholder="username" id = "username" name="username"/>
                </label>
            </p>
            <p>
                <label>
                    Password<br>
                    <input type="text" placeholder="password" id = "password" name="password"/>
                </label>
            </p>
            <button type="submit">Add user</button>
        </form>

        <script>
            $(document).ready(function () {
                $('#display').DataTable();
            });
        </script>
    <br><br><br>
   <ui>
       <li><a href="/showItem">Show Item</a></li>
       <li><a href="/addItem">Add Item</a></li>
       <li><a href="/weather">Weather</a></li>
       <% if(test){ %>

        <li><a href="/showUser">Show User</a></li>
        <li><a href="/addUser">Add User</a></li>
        <% } %>
   </ui>
   <footer>
    <%- include('chat') -%>
</footer>
</html>