<!-- /////////////////////////      SCRIPT      ///////////////////////////// -->
<style>
    h3
    {
        color: yellow;
    }
    .chatBox
    {
        opacity: 0.8;
        border-radius: 25px;
        background-color: black;
        height: auto;
        width: 350;
        padding: 10px;
   
    }
    .MessageBox
    {
        border-radius: 25px;
        height: 200px;
        width: 300px;
        padding: 5px;

    }
    input,button {
        border-radius: 25px;
        padding: 5px;
    }


</style>
<div class = "chatBox">
    
<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    var socket = io.connect();

    socket.on('chat', function (data) {
        var msg = new Date().toLocaleTimeString() + ", " + data.nick+':  '+data.message;
        $('#MessageBox').val($('#MessageBox').val()+msg+'\n'); 
    });

    socket.on("userloggedin", (data)=>{
            const users = data.join(", ");
            document.getElementById("userlist").innerHTML = users;
        })

    // Handle UI
    $(function() {
        // Set nickname
        $('#nick').on('click', function() {
            socket.emit('nick', $('#nickText').val());
        });
        // Send chat message
        $('#chat').on('click', function() {
            socket.emit('chat', {
                message:$('#chatText').val()
            });
        });
    }); 
</script>


<!-- /////////////////////////      HTML      ///////////////////////////// -->
    <div>
            <h3>Sunny Day Chats</h3>