
<!-- /////////////////////////      SCRIPT      ///////////////////////////// -->
<style>
    h1, h2
    {
        color: yellow;
    }
    .footer
    {
        background-color: black;
    }
</style>
<div class = "footer">
    
<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    var socket = io.connect();

    socket.on('chat', function (data) {
        var msg = new Date().toLocaleTimeString() + ", " + data.nick+':  '+data.message;
        $('textarea').val($('textarea').val()+msg+'\n'); 
    });

    socket.on("userloggedin", (data)=>{
            const users = data.join(", ");
            document.getElementById("userlist").innerHTML = users;
        })

    // Handle UI
    $(function() {
        // Set nickname
        $('#nick').on('click', function() {
            socket.emit('nick', $('#nickText').val());
        });
        // Send chat message
        $('#chat').on('click', function() {
            socket.emit('chat', {
                message:$('#chatText').val()
            });
        });
    }); 
</script>


<!-- /////////////////////////      HTML      ///////////////////////////// -->
    <div>
            <h1>Message Others</h1>
            <p>
                <input id="nickText" type="text"/>
                <button id="nick">Set Nickname</button>
            </p>
            <textarea style="height:300px;width:500px;"></textarea>
            <p>
                <input id="chatText" type="text"/>
                <button id="chat">Send Chat Message</button>
            </p>
        
            <h2>Active User: <b id="listu"></b></h2>
            <p id="userlist">  
               
            </p>
    </div>

</div>
