<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <header>
    <%- include('navigationHeader') -%>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </header>
  <style>
    .headerNews
    {
      color: white;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      border-color: black;
      background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    }
    body {
      background-image: linear-gradient(yellow, deepskyblue);
        color: black;
        padding: 5px;
        }
  </style>

<body>
  <div class = "headerNews">
    <h1>Latest News</h1>
  </div>
  <div>
    <br>
    <%- include('slider') -%>
  </div>
</body>

<footer>
  <%- include('footer') -%>
  <%- include('imageHeader') -%>

</footer>
</html>

