<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <header>
    <%- include('navigationHeader') -%>
    <!-- really -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </header>

   <!-- Danielle commented -->
  <!-- <style>
    html, body
    {
      height: 100%;
      background-image: linear-gradient(yellow, deepskyblue);
      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: black;
    }
  </style> -->

  <!-- Danielle added style -->
  <style>
    body {
        background-color: white;
        color: black;
        padding: 5px;
        }
  </style>
<<<<<<< HEAD
</head>
<body>
  <h1>Welcome to the Sunshine!</h1>
  
  
</body>
=======
  <h1>Welcome to the Sunshine!</h1></body>

<body>
  <%- include('slider') -%>
</body>

>>>>>>> 2c2d19886d4363f3890b986d0309ea874778a8bf
<%- include('footer') -%>
</html>

