<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <header>
    <%- include('navigationHeader') -%>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </header>
  
  <style>
    body {
        background-color: white;
        color: black;
        padding: 5px;
        }
  </style>
  <h1>Welcome to the Sunshine!</h1></body>

<body>
  <%- include('slider') -%>
</body>

<footer>
  <%- include('chat') -%>
</footer>
</html>

