<header>
  <%- include('navigationHeader') -%>
  <!-- really -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</header>

<body>
  <style>
    html, body
    {
      height: 100%;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTsrgzceU1Vv_FtHTEJQY446gO5Vyrq3nvvKroaarl7OKgkq11w&usqp=CAU");

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  <h1>Welcome to the Sunshine!</h1></body>

<body>
  <%- include('slider') -%>
</body>

<footer>
  <%- include('chat') -%>
</footer>
