<div>
    <img class="imgval" src = "https://i.imgur.com/10Urmqw.jpg"/>
  </div>
  <div>
    <img class="imgval2" src = "https://i.imgur.com/AJDVC5z.png"/>
  </div>
<style>
  .imgval
    {
        position:absolute;
        width: 300px;
        height: auto;
        top: 115px;
        left: 0;
    }
    .imgval2
    {
        position:absolute;
        width: 400px;
        height: auto;
        top: 115px;
        right: 0;
    }
</style>