<header>
    <%- include('navigationHeader') -%>
    <!-- really -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </header>

<!-- Danielle reformatted login page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>
    <form action="/" method="POST">
        <div class = "finput">
            <p >Welcome</p>
        </div>
        <div class = "finput">
            Enter a Valid email
            <input type="text" name="email" required>
        </div>

        <div class = "finput">
            Enter a Valid Password
            <input type="password" name="password" required>
        </div>

        <div>
            <button type="submit">
                Login
            </button>
        </div>

        <div >
            <span >
                <div class = "finput">
                Don’t have an account?
                </div>
            </span>

            <a href="/register">
            <div class="finput">
                Sign Up
            </div>
            </a>
        </div>
    </form>

    <style>
        .finput
        {
            background-color: white;
            color: black;
            width: fit-content;
        }
        html, body
        {
          height: 100%;
          background-image: linear-gradient(yellow, deepskyblue);
          /* Full height */
          height: 100%;
    
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      </style>
</body>

<footer>
    <%- include('chat') -%>
  </footer>
  
</html>




