<header>
    <%- include('navigationHeader') -%>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</header>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        body {
            background-image: linear-gradient(yellow, deepskyblue);
            color: black;
            padding: 5px;
            }
        /* Bordered form */
        form {
        border: 2px solid black;
        text-align: center;
        width: 50%;
        margin: 0 auto;

        }
        /* Full-width inputs */
        input[type=text], input[type=password], input[type=email] {
        width: 50%;
        padding: 5px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid black;
        box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
        background-color: #4CAF50;
        color: black;
        padding: 14px 20px;
        cursor: pointer;
        width: 15%;
        }
    </style>
</head>
<body>
    <form method="POST" action="/sign-up">
        <h2>Register</h2>
        <p>
            <label>Name</label>
            <br>
            <input type="text" name="name" placeholder="enter your name" required/>
        </p>
        <p>
            <label>Username</label>
            <br>
            <input type="text" name="username" placeholder="enter valid username" required/>
        </p>
        <p>
            <label>Password</label>
            <br>
            <input type="password" name="password" placeholder="enter valid password" required/>
        </p>
        <p>
            <label>Email</label>
            <br>
            <input type="email" name="email" placeholder="enter valid email" required/>
        </p>
        <div>
        <button type="submit">Sign Up</button>
        </div>
        <br>
        <div>
            Have an account?
            <a href="/login">
                Login
            </a>
        </div>
        <br>
    </form>
</body>
</html>