<!DOCTYPE html>  
<html>  
<head>  
    <meta charset="utf-8" />  
    <title>My Slider</title>  
    <style type="text/css">   
        .showSlide {  
            display: none  
        }  
            .showSlide img {  
                width: 100%; 
                max-height: 200px;
                max-width: 400px;
            }  
        .slidercontainer {  
            max-width: 400px; 
            max-height: 200px; 
            position: relative;  
            margin: auto;  
        }  
        .left, .right {  
            cursor: pointer;  
            position: absolute;  
            top: 50%;  
            width: auto;  
            padding: 16px;  
            margin-top: -22px;  
            color: white;  
            font-weight: bold;  
            font-size: 18px;  
            transition: 0.6s ease;  
            border-radius: 0 3px 3px 0;  
        }  
        .right {  
            right: 0;  
            border-radius: 3px 0 0 3px;  
        }  
            .left:hover, .right:hover {  
                background-color: rgba(115, 115, 115, 0.8);  
            }  
        .content {  
            color: #d0ff00;  
            font-size: 30px;  
            padding: 8px 12px;  
            position: absolute;  
            top: 10px;  
            width: 100%;  
            text-align: center;  
        }  
        .active {  
            background-color: #717171;  
        }  

    </style>  
</head>  
<body>  
    <div class="slidercontainer">  
        <% posts.forEach(function(post){ %>
        <div class="showSlide"> 
            <a href=<%=post.url %>> 
                <img src=<%=post.imageurl %> </a>
            <div class="content"><%=post.title %> </div>  
        </div>  
        <%});%>

        <!-- Navigation arrows -->  
        <a class="left" onclick="nextSlide(-1)">❮</a>  
        <a class="right" onclick="nextSlide(1)">❯</a>  
    </div>  
  
    <script type="text/javascript">  
        var slide_index = 0;  
        displaySlides(slide_index);  
  
        function nextSlide(n) {  
            displaySlides(slide_index += n);  
        }  
  
        function currentSlide(n) {  
            displaySlides(slide_index = n);  
        }  
  
        function displaySlides(n) {  
            var i;  
            var slides = document.getElementsByClassName("showSlide");  
            if (n > slides.length) { slide_index = slides.length - 2 }  
            if (n < 1) { slide_index = slides.length }  
            for (i = 0; i < slides.length; i++) {  
                slides[i].style.display = "none";  
            }  
            slides[slide_index - 1].style.display = "block";  
        }  
    </script>  
  
</body>  
</html>   