<html class="cool">
<head>
    <header>
        <%- include('navigationHeader') -%>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </header>
    <h1>Please enter the new user</h1>
    <style>
        .cool{ background-image: linear-gradient(white, blue) !important;}
        table
        {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th
        {
            border: 5px solid black;
            text-align: left;
            padding: 20px;
        }
    </style>
</head>
<body>
<form method="POST">
    <p>
        <label>
            Email<br>
            <input type="text" placeholder="Email" id ="contact" name="email"/>
        </label>
    </p>
    <p>
        <label>
            Query<br>
            <input type="text" placeholder="Enter query" id = "contact" name="query"/>
        </label>
    </p>
    <button type="submit">Submit Query</button>
</form>

<script>
    $(document).ready(function () {
        $('#display').DataTable();
    });
</script>
<style>
    html, body
    {
      height: 100%;
      background-image: linear-gradient(yellow, deepskyblue);

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</html>
